<html>
  <head>
    <title>YANS2022 ハッカソン - リーダーボード</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css" rel="stylesheet">
    <style type="text/css">
      .scroll-table {
          overflow-x: auto;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
      }
      table {
          width: 100%;
      }
      .tablesorter-headerUnSorted {
          background-image: url('https://img.icons8.com/material-sharp/15/000000/sort.png');
          background-repeat: no-repeat;
          background-position: center right;
      }
      .tablesorter-headerAsc {
          background-image: url('https://img.icons8.com/material-sharp/15/000000/sort-up.png');
          background-repeat: no-repeat;
          background-position: center right;
          border-bottom: #000 2px solid;
      }
      .tablesorter-headerDesc {
          background-image: url('https://img.icons8.com/material-sharp/15/000000/sort-down.png');
          background-repeat: no-repeat;
          background-position: center right;
          border-bottom: #000 2px solid;
      }
      .sorter-false {
        background-image: none;
      }
    </style>
    <script>
          $(document).ready(function() {
          $('#score_board').tablesorter(
            {
              theme : "materialize",
              headers: {
                0: {sorter:false},
                1: {sorter:false},
                2: {sorter:false}
              }
            }
          );
      });
    </script>
  </head>
  <body>
    <div style="min-height: 100vh; position: relative; padding-bottom: 60px; box-sizing: border-box; padding-top:100px;">
      <nav class="nav-wrapper light-green darken-3" style="position: fixed; top:0px; z-index:9999;">
        <a class="brand-logo center" href="https://yans.anlp.jp/entry/yans2022hackathon">YANS2022 Leaderboard</a>
        {% if current_user.is_authenticated %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>{{ current_user.user_id }} でログイン中</li>
          {% if current_user.is_admin %}
          <li><a href="{{ url_for('admin.index') }}">管理画面</a></li>
          {% endif %}
          <li><a class="nav-link" href="{{ url_for('logout') }}">ログアウト</a></li>
        </ul>
        {% endif %}
      </nav>

      <div class="contents">

      {% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
        <div class="row">
          <div class="col l8 offset-l2 s12 left">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
        </div>
        {% endif %}
      {% endwith %}

      {% if not current_user.is_authenticated %}
        <form action="{{ url_for('login') }}" method="POST" class="col s12 l12">
          <div class="row">
            {{ login_form.csrf_token }}
            <div class="input-field inline col s4 l3 offset-l2">
            {{ login_form.user_id.label }} {{ login_form.user_id }}
            </div>
            <div class="input-field inline col s4 l3">
            {{ login_form.password.label }} {{ login_form.password }}
            </div>
            <div class="input-field inline col s4 l2">
            <button class="btn waves-effect waves-light right" type="submit" name="action">
              ログイン<i class="material-icons right">login</i>
            </button>
            </div>
          </div>
        </form>

      {% endif %}

      {% if current_user.is_authenticated %}
      <form action="{{ url_for('upload_and_evaluate') }}" method="POST" enctype="multipart/form-data" class="row col s12 l12">
        {{ upload_form.csrf_token }}
        <div class="input-field file-field inline col s5 offset-l2 l3">
          <div class="btn">
            ファイルを選択
            <input type="file" name="submission_file" id="submission_file" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" name="submission_file" id="submission_file" required>
          </div>
        </div>
        <div class="input-field inline col s5 l3">
          {{ upload_form.description.label }} {{ upload_form.description }}
        </div>
        <div class="input-field inline col s2 l2">
        <button class="btn waves-effect waves-light right" type="submit" name="action">
          SUBMIT<i class="material-icons right">send</i>
        </button>
        </div>
      </form>
      {% endif %}
      <div class="row center">
        <a href="{{ url_for('visualize') }}" style="display: inline-flex; align-items: center;" data-lity>
          スコア変遷<i class="material-icons">trending_up</i>
        </a>
      </div>
      <div class="row scroll-table">
        <div class="col l10 offset-l1 s12">
          <table id="score_board" class="highlight centered">
            <thead>
              <tr>
                <th style="width: 200px;">#</th>
                <th style="width: 300px;">チーム</th>
                <th style="padding-right: 20px;">提出回数</th>
                {% for var_name, metric_name in metrics_name_dict.items() %}
                  <th style="padding-right: 20px;">{{ metric_name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in score_table %}
                {% set rank=loop.index %}
                <tr>
                  <td>
                    <span style="font-weight: bolder;">{{ rank }}</span>

                    <br><span class="badge">
                      {{ row.created_at | utc_to_jst }}
                    </span>
                  </td>
                  <td>
                    <span style="font-weight: bolder;">
                      <a href="{{ url_for('visualize') }}?id={{ row.user_id }}" data-lity>{{ row.print_name }}</a>
                    </span>
                    <br>{{ row.comment }}
                  </td>
                  <td>
                    {{ row.n_submit }}
                  </td>
                  {% for var_name, metric_name in metrics_name_dict.items() %}
                    {% if var_name == sort_key and rank == 1 %}
                      <td><span style="font-weight: bolder;">{{ row[var_name]|round(3) }}</span></td>
                    {% else %}
                      <td>{{ row[var_name]|round(3) }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" style="position: absolute; bottom: 0; width: 100%;">
      <div class="col s12 l4 offset-l4 center">
        <a href="https://yans.anlp.jp/entry/yans2022"><img src="/static/logo.jpg" height=30px></img></a> <span class="blue-grey-text"><a class="blue-grey-text" href="https://yans.anlp.jp/entry/yans2022">NLP若手の会</a></span>
      </div>
    </div>
  </div>

</body>
</html>
